body{
    background-image: url(img/background.png);
    background-repeat: repeat;
    background-size: 50%;
}

.container{
    background-color: rgb(125, 24, 51);
    
}

.littlecontainer{
    display: grid;
    grid-template-columns: 10rem, 10rem, 10rem, 10rem;
    grid-template-rows: 10rem, 10rem;
}

.nagy{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.kicsi1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.kicsi2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.kicsi3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.kicsi4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.kicsi5{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.kicsi6{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    
}
